html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    background-color: #ededed;
}

section {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 400px;
    margin-top: 75px;
}

table {
    border-collapse: collapse;
    border: solid 1px #000;

}

td {
    width: 100px;
    height: 100px;
}

table td {
    font-size: 100px;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: #000;
}